
header{
    display: flex;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
    /* background: linear-gradient( rgba(207, 46, 46,0.7), rgba(207, 46, 46,0.7)); */
    height: auto;
    min-height: 100px;
    margin-top: 50px;
}
.header-logo{
    width: 120px;
    height: 120px;
}
.cart-div{
    border: solid 2px var(--yellow);
    background-color: var(--yellow);
    border-radius: 12px;
    padding: 5px;
    cursor: pointer;
    box-shadow: var(--shadowOne);
}
.cart-icon{
    font-size: 35px;
    color: var(--blue);
    pointer-events: none;
}

