@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Varela+Round&display=swap');
:root{
  --yellow:#fae105;
  --blue:#469cd5;
  --red:#cf2e2e;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--blue);
}
